/* styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

header img {
  max-width: 100px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

header button {
  padding: 15px 30px;
  margin-right: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header button:hover {
  background-color: #0056b3;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav a {
  margin: 5px 0;
}

footer {
  padding: 30px 20px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content div {
  flex: 1;
  margin-right: 20px;
}

.footer-content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer-content li {
  margin-bottom: 10px;
}

.footer-content a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footer-content div p {
  margin-bottom: 10px;
}

.footer-content input[type="email"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer-content button {
  padding: 15px 30px;
  background-color: #737a81;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-content button:hover {
  background-color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background: linear-gradient(to right, #4e4c4c, #a09b9b);
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin-bottom: 8px;
}

form input {
  width: 500px;
  padding: 10px;
  margin-bottom: 16px;
}

form button {
  padding: 15px 30px;
  background-color: #0a0a0a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #676a6d;
}